<h3>以下の内容で送信する</h3>
<%= form_with(model: @picture,url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :post %>
  <p>コメント：<%= @picture.post %></p>
  <%= form.submit "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
