<p id="notice"><%= notice %></p>

<p>
  <p>User:<%= @picture.user.name %></p>
  <p>Post:<%= @picture.post %></p>
  <p>Image:<%= image_tag @picture.image.url %></p>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
